#header {
  display: flex;
  background-color: var(--primary-bg-color);
  padding: 1.5rem 0;
}

#nav {
  display: flex;
  width: 100%;
  margin: 0 1rem;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo a {
  font-size: 2rem;
  text-decoration: none;
  font-family: var(--text-fonts);
  font-weight: 700;
  color: var(--primary-text-color);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links ul li {
  font-family: var(--text-fonts);
  color: var(--secondary-text-color);
  color: #FFF;
  font-weight: 600;
}

@media only screen and (max-width: 650px){
    .nav-logo a{
        font-size: 1.2rem;
    }

    .nav-links ul{
        gap: .5rem;
    }

    .nav-links ul li{
        font-size: 0.8rem;
    }
}